
.sdn-checkbox {
  appearance: none;
  outline: none;
  border: none;
  padding: 0;
  background: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover .sdn-checkbox-indicator[data-state=unchecked]:not([data-disabled]) {
    border-color: var(--color-border-2);
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.sdn-checkbox-indicator {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-border-1);
  border-radius: calc(var(--radius) - 4px);
  color: var(--color-primary-foreground);
  font-size: 14px;
  transition: all 0.2s;
  cursor: inherit;

  &:not([data-state=unchecked]) {
    background: var(--color-primary-0);
    border-color: var(--color-primary-0);
  }
}

.sdn-checkbox-indicator[data-state=checked] .sdn-checkbox-check-icon {
  display: inline-flex;
}

.sdn-checkbox-indicator[data-state=indeterminate] .sdn-checkbox-minus-icon {
  display: inline-flex;
}

.sdn-checkbox-minus-icon {
  display: none;
}

.sdn-checkbox-check-icon {
  display: none;
}

.sdn-checkbox-label {
  flex: 1;
  display: flex;
  align-items: center;
  min-height: 24px;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-text-0);
  cursor: inherit;
}

/* ----------------- */
/* Group */

.sdn-checkbox-group--horizontal {
  display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
  margin-bottom: -10px;
}

.sdn-checkbox-group--horizontal .sdn-checkbox {
  margin-right: 24px;
  margin-bottom: 10px;
}

.sdn-checkbox-group--vertical {
  display: flex;
  flex-direction: column;
  margin-bottom: -10px;
}

.sdn-checkbox-group--vertical .sdn-checkbox {
  margin-bottom: 10px;
}
