.sdn-tooltip-content {
  max-width: var(--radix-tooltip-content-available-width);
  max-height: var(--radix-tooltip-content-available-height);
  background-color: var(--color-bg-0);
  border: 1px solid var(--color-border-0);
  border-radius: calc(var(--radius) - 2px);
  color: var(--color-text-0);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.09);
  outline: none;
  padding: 6px 10px;
  font-size: 14px;
  transform-origin: var(--radix-tooltip-content-transform-origin);
  will-change: transform, opacity;
}

.sdn-tooltip-exit-active .sdn-tooltip-content {
  pointer-events: none;
}

.sdn-tooltip-enter .sdn-tooltip-content[data-side=top] {
  opacity: 0;
  transform: translateY(4px) scale(0.95);
}

.sdn-tooltip-enter-active .sdn-tooltip-content[data-side=top] {
  opacity: 1;
  transform: translateY(0) scale(1);
  transition: all 0.2s;
}

.sdn-tooltip-exit .sdn-tooltip-content[data-side=top] {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.sdn-tooltip-exit-active .sdn-tooltip-content[data-side=top] {
  opacity: 0;
  transform: translateY(4px) scale(0.95);
  transition: all 0.2s;
}

.sdn-tooltip-enter .sdn-tooltip-content[data-side=bottom] {
  opacity: 0;
  transform: translateY(-4px) scale(0.95);
}

.sdn-tooltip-enter-active .sdn-tooltip-content[data-side=bottom] {
  opacity: 1;
  transform: translateY(0px) scale(1);
  transition: all 0.2s;
}

.sdn-tooltip-exit .sdn-tooltip-content[data-side=bottom] {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.sdn-tooltip-exit-active .sdn-tooltip-content[data-side=bottom] {
  opacity: 0;
  transform: translateY(-4px) scale(0.95);
  transition: all 0.2s;
}

.sdn-tooltip-enter .sdn-tooltip-content[data-side=left] {
  opacity: 0;
  transform: translateX(4px) scale(0.95);
}

.sdn-tooltip-enter-active .sdn-tooltip-content[data-side=left] {
  opacity: 1;
  transform: translateX(0) scale(1);
  transition: all 0.2s;
}

.sdn-tooltip-exit .sdn-tooltip-content[data-side=left] {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.sdn-tooltip-exit-active .sdn-tooltip-content[data-side=left] {
  opacity: 0;
  transform: translateX(4px) scale(0.95);
  transition: all 0.2s;
}

.sdn-tooltip-enter .sdn-tooltip-content[data-side=right] {
  opacity: 0;
  transform: translateX(-4px) scale(0.95);
}

.sdn-tooltip-enter-active .sdn-tooltip-content[data-side=right] {
  opacity: 1;
  transform: translateX(0) scale(1);
  transition: all 0.2s;
}

.sdn-tooltip-exit .sdn-tooltip-content[data-side=right] {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.sdn-tooltip-exit-active .sdn-tooltip-content[data-side=right] {
  opacity: 0;
  transform: translateX(-4px) scale(0.95);
  transition: all 0.2s;
}

.sdn-tooltip-arrow {
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  transform: translateY(-3.4px) rotate(45deg);
  background-color: var(--color-bg-0);
  border-right: 1px solid var(--color-border-0);
  border-bottom: 1px solid var(--color-border-0);
  will-change: transform, opacity;
}
