@import './palette.css';

:root {
  --color-bg-0: #fff;
  --color-bg-1: rgb(var(--gray-100));
  --color-bg-2: rgb(var(--gray-200));
  --color-bg-3: rgb(var(--gray-300));
  --color-text-0: rgb(var(--gray-800));
  --color-text-1: rgb(var(--gray-600));
  --color-text-2: rgb(var(--gray-500));
  --color-primary-foreground: rgb(var(--gray-100));
  --color-border-0: rgb(var(--gray-200));
  --color-border-1: rgb(var(--gray-300));
  --color-border-2: rgb(var(--gray-400));
  --color-primary-0: rgb(var(--gray-900));
  --color-primary-1: rgb(var(--gray-700));
  --color-primary-2: rgb(var(--gray-950));
  --color-secondary-0: rgb(var(--gray-100));
  --color-secondary-1: rgb(var(--gray-200));
  --color-secondary-2: rgb(var(--gray-300));
  --color-success-0: rgb(var(--emerald-500));
  --color-success-1: rgb(var(--emerald-600));
  --color-success-2: rgb(var(--emerald-700));
  --color-warning-0: rgb(var(--amber-500));
  --color-warning-1: rgb(var(--amber-600));
  --color-warning-2: rgb(var(--amber-700));
  --color-error-0: rgb(var(--red-500));
  --color-error-1: rgb(var(--red-600));
  --color-error-2: rgb(var(--red-700));
  --color-ring: rgb(var(--gray-400));

  --radius: 0.5rem;
}

.dark {
  --color-bg-0: rgb(var(--gray-950));
  --color-bg-1: rgb(var(--gray-900));
  --color-bg-2: rgb(var(--gray-800));
  --color-bg-3: rgb(var(--gray-700));
  --color-text-0: rgb(var(--gray-200));
  --color-text-1: rgb(var(--gray-400));
  --color-text-2: rgb(var(--gray-500));
  --color-primary-foreground: rgb(var(--gray-900));
  --color-border-0: rgb(var(--gray-800));
  --color-border-1: rgb(var(--gray-700));
  --color-border-2: rgb(var(--gray-600));
  --color-primary-0: rgb(var(--gray-200));
  --color-primary-1: rgb(var(--gray-300));
  --color-primary-2: rgb(var(--gray-400));
  --color-secondary-0: rgb(var(--gray-900));
  --color-secondary-1: rgb(var(--gray-800));
  --color-secondary-2: rgb(var(--gray-700));

  --radius: 0.5rem;
}

*,
::before,
::after {
	box-sizing: border-box;
}

body {
  background-color: var(--color-bg-0);
  color: var(--color-text-0);
  font-feature-settings: "rlig" 1, "calt" 1;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

.lucide {
  width: 1em;
  height: 1em;
}
