:root {
  --slate-50: 210 40% 98%;
  --slate-100: 210 40% 96%;
  --slate-200: 214 32% 91%;
  --slate-300: 213 27% 84%;
  --slate-400: 215 20% 65%;
  --slate-500: 215 16% 47%;
  --slate-600: 215 19% 35%;
  --slate-700: 215 25% 27%;
  --slate-800: 217 33% 17%;
  --slate-900: 222 47% 11%;
  --slate-950: 229 84% 5%;

  --gray-700: 217 19% 27%;
  --gray-800: 215 28% 17%;
  --gray-900: 221 39% 11%;
  --gray-950: 224 71% 4%;

  --amber-400: 43 96% 56%;
  --amber-500: 38 92% 50%;
  --amber-600: 32 95% 44%;
  --amber-700: 26 90% 37%;
  --amber-800: 23 83% 31%;

  --emerald-400: 158 64% 52%;
  --emerald-500: 160 84% 39%;
  --emerald-600: 161 94% 30%;
  --emerald-700: 163 94% 24%;
  --emerald-800: 163 88% 20%;

  --blue-400: 213 94% 68%;
  --blue-500: 217 91% 60%;
  --blue-600: 221 83% 53%;
  --blue-700: 224 76% 48%;
  --blue-800: 226 71% 40%;

  --rose-400: 351 95% 71%;
  --rose-500: 350 90% 61%;
  --rose-600: 347 77% 50%;
  --rose-700: 345 83% 41%;
  --rose-800: 343 80% 35%;
}
