.sdn-tabs[data-orientation=vertical] {
  display: flex;
  align-items: flex-start;
}

.sdn-tabs--capsule .sdn-tabs-list {
  display: inline-flex;
  align-items: stretch;
  padding: 4px;
  border-radius: calc(var(--radius) - 2px);
  background-color: var(--color-bg-1);

  &[data-orientation=vertical] {
    flex-shrink: 0;
    flex-direction: column;
  }
}

.sdn-tabs--capsule .sdn-tabs-trigger {
  appearance: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  border-radius: calc(var(--radius) - 4px);
  background: transparent;
  color: var(--color-text-2);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s;

  &[data-state=active] {
    background: var(--color-bg-0);
    color: var(--color-primary-0);
  }

  &:not([data-disabled]):hover {
    color: var(--color-primary-0);
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.sdn-tabs--line .sdn-tabs-list {
  display: flex;
  align-items: stretch;

  &[data-orientation=horizontal] {
    border-bottom: 1px solid var(--color-border-0);
  }

  &[data-orientation=vertical] {
    flex-shrink: 0;
    flex-direction: column;
    border-right: 1px solid var(--color-border-0);
  }
}

.sdn-tabs--line .sdn-tabs-trigger {
  appearance: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  margin-bottom: -1px;
  background: transparent;
  color: var(--color-text-0);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s;

  &[data-orientation=horizontal] {
    justify-content: center;
    padding: 9px 16px;
    border-bottom: 2px solid transparent;
  }

  &[data-orientation=vertical] {
    justify-content: flex-start;
    padding: 9px 16px 9px 0;
    border-right: 2px solid transparent;
  }

  &[data-state=active] {
    border-color: var(--color-primary-0);
    color: var(--color-primary-0);
    font-weight: 500;
  }

  &:not([data-disabled]):hover {
    color: var(--color-primary-0);
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.sdn-tabs-content {
  &[data-orientation=horizontal] {
    margin-top: 8px;
  }

  &[data-orientation=vertical] {
    flex: 1;
    margin-left: 16px;
  }
}

.sdn-tabs--stretch .sdn-tabs-list {
  display: flex;
}

.sdn-tabs--stretch .sdn-tabs-trigger {
  flex: 1;
}
