.sdn-input {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  height: 36px;
  border: 1px solid var(--color-border-1);
  border-radius: calc(var(--radius) - 2px);
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-0);
  cursor: text;
  transition: all 0.2s;

  &:not([data-disabled]):hover {
    border-color: var(--color-border-2);
  }

  &:not([data-disabled]):focus-within {
    border-color: var(--color-primary-0);
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.sdn-input-inner {
  flex: 1;
  height: 100%;
  padding: 6px 12px;
  background: transparent;
  border: none;
  outline: none;

  &::placeholder {
    color: var(--color-text-2);
  }
}

/* internal actions */
.sdn-input-internal-actions {
  display: flex;
  align-items: center;
  margin-right: 3px;
}

/* close */
.sdn-input-close-icon {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

.sdn-input-close-icon .sdn-button-icon {
  font-size: 16px;
  color: var(--color-text-2);
}

.sdn-input:not([data-disabled]):hover .sdn-input-close-icon {
  visibility: visible;
  opacity: 1;
}

.sdn-input:not([data-disabled]):focus-within .sdn-input-close-icon {
  visibility: visible;
  opacity: 1;
}

/* password */
.sdn-input-password-icon .sdn-button-icon {
  font-size: 16px;
  color: var(--color-text-2);
}

/* prefix & suffix */
.sdn-input-prefix,
.sdn-input-suffix {
  flex-shrink: 0;
  height: 100%;
  display: inline-flex;
  align-items: center;
  color: var(--color-text-2);
  font-size: 16px;
}

.sdn-input-prefix {
  padding-left: 12px;
}

.sdn-input-suffix {
  padding-right: 12px;
}
